/* global variables */
:root {
  --background: whitesmoke;
  --foreground: #333;
}

/* global styling */
body {
  font-family: 'Space Mono', monospace;
  background: var(--background);
  color: var(--foreground);
}

/* container for the elements inside the page */
.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--background);
  border-bottom: 2px solid var(--foreground);
}

.navbar-title {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Space Mono' monospace;
  font-weight: normal;
  color: var(--foreground);
}

.reset-button {
  font-family: 'Space Mono' monospace;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: var(--background);
  color: var(--foreground);
  border: 2px solid var(--foreground);
}

.reset-button:hover {
  background-color: var(--foreground);
  color: var(--background);
}

/* app container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* .board-and-stopwatch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

/* sudoku board and cells */
.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: min(90vmin, 600px);
  height: min(90vmin, 600px);
  aspect-ratio: 1 / 1;
  border: solid 4px var(--foreground);
}

.paused-message {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--foreground);
}

.cell {
  border: 1px solid var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 5vmin, 4rem);
  box-sizing: border-box;
  min-height: 0;
}

.cell.col-3, .cell.col-6 { border-right-width: 4px; }
.cell.row-3, .cell.row-6 { border-bottom-width: 4px; }

.cell:focus {
  background: rgb(169 169 169);
}

.cell.editable {
  color: rgb(74, 108, 140);
}

.cell.incorrect {
  color: rgb(233, 116, 81);
  background-color: rgb(255, 210, 200);
}

.cell.highlight-mates {
  background: rgb(169 169 169 / 40%);
}

/* input pad, pad grid and pad button */
.input-pad {
  width: min(40vmin, 200px);
  box-sizing: border-box;
}

.pad-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  aspect-ratio: 3 / 4;
  border: solid 2px var(--foreground);
  box-sizing: border-box;
}

.pad-button {
  border: 1px solid var(--foreground);
  font-size: 1.5rem;
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-button {
  grid-column: span 3;
}
